

html,body { 
    margin:0; padding:0; height: 100%;
}
#container {
    display: flex;
    flex-flow: column;
    height: 100%;
}
header {
    flex: 0 1 auto;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNYfXr2bAAG4wKtJwTv8QAAAABJRU5ErkJggg==);
    font-kerning: normal; /* Why isn't this on by default? The title "OpenTrees.org" looks pretty bad without it. */
    border-bottom: 1px solid hsl(100,30%,50%);
}

#header {
  /*height:160px;*/
  font-family: lato, sans-serif;
}

header h1 {
  font-family: lancelot, serif;
  font-size:44px;
  font-weight:600;
  margin-top:12px;
  margin-bottom:8px;
  display:inline-block;
  color:grey;
  float:left;
}



.header-title {
  color:hsl(120,60%,20%);
  padding-top:1em;em;
}

#logo {
  /* Icon by Charles Paulk, Code for Australia. charliepaulk@gmail.com */
  background-image: url('cubetree-logo.png');
  background-size:contain;
  background-repeat:no-repeat;
  background-position:right;
  width:50px;
  height:60px;
  float:left;
  margin: 0px 10px;
  border:none;
}


@media screen and (max-width: 640px) {
    header h1 {
        font-size:22px;
        margin-top:6px;
    }
    #logo {
        height: 40px;
        width:30px;
    }
}





#map { 
    /*position:absolute; top:0; bottom:0; width:100%; */
    flex: 1 1 auto;
}


#info {
    display:flex;
    flex-flow:column;
    position:absolute;
    left:0px;
    top:70px;
    width:300px;
    background:white;
    border:1px solid lightgray;
    max-height: calc(100% - 75px);
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:13px;
    color:#333;
    transition: width 0.2s;
    transition: left 0.2s;
    opacity:0.8;
}

@media screen and (max-width: 640px) {
    #info {
        top: 40px;
        max-height:calc(100% - 40px);
    }
}


@media screen and (max-height: 700px) {
    #info {
        top: 0px;
        max-height:100%;
    }
}


#info.hidden {
    left:-300px;
    transition-delay:0.4s;
}

#info.pinned {
    border: 2px solid gray;
    opacity:1;
    transition: opacity 0.5s;
}

#info .closex {
    position: absolute;
    right: 0;
    top: 0;
    font-size:20px;
    color: hsl(100,30%,50%);
    margin: 2px;
    display: none; /* only shown if pinned */
}

#info .closex:hover {
    color: *hsl(100,30%,70%);
    cursor: pointer;
    transform:rotate(-10deg);
}

#info.pinned .closex {
    display: block;
}



#info >h3 {
    flex: 0 0 auto;

    background-color:hsl(100,30%,82%);/*#ddd;*/
    padding:0.5em;
    margin-top:0;
    margin-bottom:0;
    border-top:1px solid hsl(100,30%,30%);
    border-bottom:1px solid hsl(100,30%,30%);
    font-size:20px;
}


#infotable {
    border-spacing:0.2em;
    margin:0;
    padding:0;
    width:100%;
    border-bottom:1px solid hsl(100,30%,90%);
}

#infotable th {
    text-align: right;
    color: hsl(100,30%,30%);
    width:90px;
    height:20px;
    padding:0;

}

#infotable td {
    padding-left:0.5em;
}

#infotablebox {
    flex: 0 0 auto;
    overflow-y:hidden;
    overflow-x:clip;
    margin:0;
    padding:0;
}

#wikibox {
    overflow-y: scroll;
    overflow-x:hidden;
}


#wikitext {
  flex: 1 1 auto;
  width:300px;
  /*max-height:200px;*/
  overflow:scroll;
  background:#eee;
  opacity:0.9;
  font-size: 80%;
}
#wikitext h2 {
  font-size:20px;
}
#wikitext {
    border:1px solid gray;
}
#wikitext h2 {
  font-family:lancelot;
  font-weight:600;
}
#wikiimg {
    flex: 1 2 auto;
}

#wikiimg a {
    text-decoration:none;
    color: hsl(100,30%,50%);
    font-weight:bold;
}

#wikiimg img {
    object-fit:scale-down;
    max-width:300px;
    /*max-height:300px;*/
    margin:0 auto;
    display:block;
    border:none;
    box-shadow:2px 2px 4px 0px grey;    
}


@media screen and (max-height: 800px) {
    #wikiimg img {
        max-height:150px;
    }
}