body,html { width: 100%; height: 100%; }
#map { 
  width: 100%;
  height: calc(100% - 160px);
  border-top: 1px solid gray;
}
.map-tooltip {
  width: 260px;
  min-height:340px;
  background:#eee;
  border:1px solid #aaa;
}
.map-tooltip table {
  position:absolute;
  top:75px;
  max-width: 245px;
}
.map-tooltip-content > b {
  font-size: 24px;
  font-family: lancelot,"Helvetica Neue", Helvetica,Arial,sans-serif;
}
.map-tooltip-content > b i{
  display:block;
  font-size: 16px;
  color: #555;
}

.map-tooltip-content th {
  color: #555;
  padding-right:8px;
}
#wikibox {
  position:absolute;
  left:0;
  bottom:0;
  /*height:600px;
  width:400px;*/
}
#wikitext {
  width:300px;
  max-height:200px;
  overflow:scroll;
  background:#eee;
  opacity:0.9;
  font-size: 80%;
}
#wikitext h2 {
  font-size:20px;
}
#wikibox img,
#wikitext {
    border:1px solid gray;
}
#wikitext h2 {
  font-family:lancelot;
  
  font-weight:600;
}

#wikibox img {
  width:300px;
}
#header {
  height:160px;
  font-family: lato, sans-serif;

}
#header h1 {
  font-family: lancelot, serif;
  font-size:44px;
  font-weight:600;
  margin-top:12px;
  margin-bottom:8px;
  display:inline-block;
}
.header-title {
  color:hsl(120,60%,20%);
}

.source-list {
  display:inline-block; 
  height:50px; 
  width:200px; 
  font-size:80%;
  margin-left:2em;
}

body { 
  margin: 0;
  background: hsl(100,31%,70%);
  /* http://subtlepatterns.com/tree-bark/ */
  background-image: 
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNYfXr2bAAG4wKtJwTv8QAAAABJRU5ErkJggg==),
    url('tree_bark/tree_bark.png'); /* http://px64.net/ */
  /*background-color: green;*/
  font-kerning: normal; /* Why isn't this on by default? The title "OpenTrees.org" looks pretty bad without it. */
}
a,a:hover,a:focus,a:visited {
  color: hsl(120,80%,25%);
  font-weight: 600;
}

#logo {
  background-image: url('tree65.svg');
  background-size:contain;
  background-repeat:no-repeat;
  width:104px;
  height:100px;
  float:left;
  margin: 18px 4px;
}

/*<div>Icon made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>*/

