

html,body { 
    margin:0; padding:0; height: 100%;
}
#container {
    display: flex;
    flex-flow: column;
    height: 100%;
}
header {
    flex: 0 1 auto;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNYfXr2bAAG4wKtJwTv8QAAAABJRU5ErkJggg==);
    font-kerning: normal; /* Why isn't this on by default? The title "OpenTrees.org" looks pretty bad without it. */
    border-bottom: 1px solid hsl(100,30%,50%);
    display:flex;
}

footer {
    flex: 0 1 auto;
    height:20px;
    border:1px solid gray;
}

p {
    font-family:Arial, sans-serif;
    font-size: 12px;
}

#mainheader {
    flex: 1 1 auto;
    width:500px;
}
#about {
    flex: 0 1 auto;
    width:50px;
    /*border:1px solid green;*/
}

#about p {
    text-align:right;
    margin:0.5em 0.5em 0 0;
    font-size:12px;
}    


header h1 {
  font-family: lancelot, serif;
  font-size:44px;
  font-weight:600;
  margin-top:12px;
  margin-bottom:8px;
  color:grey;
}

.header-title {
  color:hsl(120,60%,20%);
  padding-top:1em;em;
}

#logo {
  /* Icon by Charles Paulk, Code for Australia. charliepaulk@gmail.com */
  background-image: url('cubetree-logo.png');
  background-size:contain;
  background-repeat:no-repeat;
  background-position:right;
  width:50px;
  height:60px;
  float:left;
  margin: 0px 10px;
  border:none;
}

.credit {
    margin:-16px 0 0 120px;
    font-family:arial;
    font-size:12px;
    color:hsl(120,60%,30%);
}

 
a {
    text-decoration:none;
    font-weight:bold;
    color:green;
} 

a:hover {
    color:hsl(120,60%,50%);
}

@media screen and (max-width: 685px) {
    header h1 {
        font-size:22px;
        margin-top:6px;
    }
    #logo {
        height: 40px;
        width:30px;
    }
    .credit {
        margin:-10px 0 0px 30px;
        font-size:10px;
    }
}





#map { 
    /*position:absolute; top:0; bottom:0; width:100%; */
    flex: 1 1 auto;
}

footer p {
    margin: 0.25em 0.5em;
}

.overbox {
    position:absolute;
    background:white;
    border:1px solid lightgray;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:13px;
    color:#333;
}



#mybtns {
    background:hsl(100,30%,95%);
    box-shadow:none;
}

#mybtns button {
    background-position-x: 4px;
    background-position-y: 2px;
    margin:4px;
    background-repeat:no-repeat;
    float:right;
    background-color: hsl(100,30%,95%);
}

#direction-btn {
    background-image:url(noun_182987_cc.svg);
}

#explore-btn {
    background-image:url(noun_34652_cc.svg);
}    

.mapboxgl-ctrl-group > button {
    margin-left: auto;
}

#mybtns {
    max-width: 32px; /* to force my buttons to stack */
    margin-left: auto;
    float:right;
}

.mapboxgl-ctrl-group.expanded {
    max-width:320px;
    /*max-height:400px;*/
    background:hsl(100,30%,95%);
}

#directions {
    margin:0px;
}

#directions ul {
    padding-left:0;
}



#directions li {
    list-style-type: none;
    display: inline-block;
    background: hsl(100,30%,90%);
    padding:0.5em;
    margin:2px;
    border-radius:2px;
    font-family:'Lancelot',Arial;
    font-size:16px;
    font-weight:bold;
}
#directions li:hover {
    color: hsl(100,70%,40%);
    cursor:pointer;
}


#explore2 {
    /*position:absolute;
    right:0px;
    top:250px;*/
    /*width:200px;*/
    /*border: 1px solid lightgray;*/
    transition: width 2s;
    max-height:620px;
    width:200px;

}

#explore2 input {
    
    margin:0.5em 1em;
}

#explore2 label {
    display:block;
}

#explore2 h3 {
    margin-top: 0;
    margin-left:1em;
    /*background:hsl(99, 31%, 82%);*/
}

/*#explore .hamburger {
    right:0;
    font-size:20px;
    padding:0.5em;
    text-align:right;
    cursor:pointer;
    background:hsl(99, 31%, 82%);
}
*/

#explore2 form label {
    padding:2px 2px 2px 1em;
}

input[type='radio'] {
    display:none;
}
input[type='radio']:checked+label {
    background:hsl(100,30%,80%);;
    font-weight:bold;
    /*border:1px solid gray;*/
}


#genusfilter,#speciesfilter {
    display:none;
}

#legend ul {
    list-style-type:none;
    padding-left:8px;
}

span.legend-color {
    clear:left;
    width: 10px;
    height:8px;
    display:block;
    float:left;
    border:1px solid grey;
    margin:1px 6px 8px;
    vertical-align:top;
}

.collapsed span.legend-color {
    /*width: 0; height: 0;*/
}

span.legend-item {
    display:block;
    float:left;
    max-width:136px; /* This is closely tied to #explore2.width to prevent bad wrapping. */
}
.collapsible {
    /*max-height:580px;*/
    max-width:200px;
    overflow:hidden;
    transition: max-height 0.3s, max-width 0.3s;
}

.collapsible.collapsed {
    /*display:none;*/
    max-height:0;
    max-width: 0;
    /*transition: max-height 2s;*/
}


/**************** Left side bar **********************/

#info {
    display:flex;
    flex-flow:column;
    left:0px;
    top:70px;
    width:300px;
    max-height: calc(100% - 75px);
    transition: width 0.2s;
    transition: left 0.2s;
    opacity:0.8;
}


@media screen and (max-width: 640px) {
    #info {
        top: 40px;
        max-height:calc(100% - 45px);
    }
}


@media screen and (max-height: 700px) {
    #info {
        top: 0px;
        max-height:100%;
    }
}


#info.hidden {
    left:-300px;
    transition-delay:0.4s;
}

#info.pinned {
    border: 2px solid gray;
    opacity:1;
    transition: opacity 0.5s;
}

#info .closex {
    position: absolute;
    right: 0;
    top: 0;
    font-size:20px;
    color: hsl(100,30%,50%);
    margin: 2px;
    display: none; /* only shown if pinned */
}

#info .closex:hover {
    color: *hsl(100,30%,70%);
    cursor: pointer;
    transform:rotate(-10deg);
}

#info.pinned .closex {
    display: block;
}



#info >h3 {
    flex: 0 0 auto;

    background-color:hsl(100,30%,82%);/*#ddd;*/
    padding:0.25em 0.5em;
    margin-top:0;
    margin-bottom:0;
    border-top:1px solid hsl(100,30%,30%);
    border-bottom:1px solid hsl(100,30%,30%);
    font-size:24px;
    font-family: lancelot, sans-serif;
}


#infotable {
    border-spacing:0.2em;
    margin:0;
    padding:0;
    width:100%;
    border-bottom:1px solid hsl(100,30%,90%);
}

#infotable th {
    text-align: right;
    color: hsl(100,30%,30%);
    width:90px;
    height:20px;
    padding:0;

}

#infotable td {
    padding-left:0.5em;
}

#infotablebox {
    flex: 0 0 auto;
    overflow-y:hidden;
    overflow-x:clip;
    margin:0;
    padding:0;
}

#wikibox {
  flex: 1 1 auto;
    overflow-y: scroll;
    overflow-x:hidden;
}


#wikitext {
  width:300px;
  /*max-height:200px;*/
  overflow:scroll;
  /*background:#eee;*/
  opacity:0.9;
  font-size: 80%;
}
#wikitext h2 {
  font-size:20px;
}
#wikitext h2 {
  font-family:lancelot;
  font-weight:600;
}
#wikiimg {
    display:inline-block;
    float:right;
    /*flex: 1 2 auto;*/
}

#wikiimg a {
    text-decoration:none;
    color: hsl(100,30%,50%);
    font-weight:bold;
}

#wikiimg img {
    object-fit:scale-down;
    max-width:300px;
    max-height:240px;
    /*max-height:300px;*/
    margin:0 0 0.5em 0.5em;
    display:block;
    border:none;
    box-shadow:2px 2px 4px 0px grey;    
    transition:max-height 1s;
}

#wikiimg img:hover {
    max-height:500px;
}


@media screen and (max-height: 800px) {
    #wikiimg img {
        max-height:150px;
    }
}
